body {
    margin: 0;
    padding: 0;
}

body, button {
    font-family: cursive;
}

.navbar {
    background-color: white;
    height: 50px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px #E7E9EB;
}

.header {
    /* background-color: wheat; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.header a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.header a:hover , .dropdown-content a:hover, .dropdown .dropbtn:hover {
    background-color: #B36B39;
    color: white;
    transition: all ease 0.3s;
    border-radius: 2px;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    font-weight: 600;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.welcome {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.welcome div {
    width: 45%;
}

.welcomeText h1 {
    color: #B36B39;
    font-weight: bold;
    font-size: 1.6rem;
}

.welcomeText p {
    line-height: 40px;
    color: #333;
}

.welcomeText button {
    padding: 10px;
    color: #333;
    font-weight: bold;
    font-size: 0.96rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.welcomeText button:hover {
    background-color: #B36B39;
    color: white;
}

.activity {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.activity > div {
    width: 25%;
}

.activity img {
    border-radius: 25px;
}

.activityText {
    margin-left: 40px;
}

span {
    color: #B36B39;
}

.activityText p {
    color: #333;
}

.activityBox {
    display: flex;
    justify-content: center;
}

.activityBox > div {
    width: 40%;
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 7px;
}

.activityBox div b {
    color: white;
}

.activityBox div p {
    color: white;
    font-size: 0.8rem;
}

.celePet {
    background-color: #B36B39;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.celePet div {
    width: 15%;
    margin: 80px 35px;  
}

.celePet div img {
    border-radius: 50%;
    border: 3px solid white;
}

.celePet div h1 {
    color: white;
    text-align: center;
}

.celePet div p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    text-align: right;
    margin: 70px;
}

.aboutText {
    width: 25%;
}

.aboutImage {
    width: 40%;
}

.about div h4 {
    color: #777;
}

.about div p {
    font-size: 0.8rem;
    color: #777;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery div {
    width: 20%;
    margin: 3px 6px;
}



